<form action="/dados" method="post">
    <h1>Escreva: </h1>
    <input type="text" name="escrever">
    <h1>Conteudo</h1>
    <input type="text" name="conetudo">
    <button type="submit">Cadastrar</button>
    <button type="reset">Apagar tudo</button>
</form>